body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-align: center;
    color: black;
    font-size: 48px; 
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    margin-top: 20px;
}

.left-section {
    text-align: left;
    max-width: 600px; 
}

.vampire-image {
    max-width: 25%; 
    height: auto;
    margin: 20px 0; 
}

.team-intro h2, .website-description h2 {
    text-align: center;
}

.team-intro, .website-description {
    text-align: left; 
    margin: 0 20px; 
}

.vampire-image {
    max-width: 25%;
    height: auto;
    margin: 20px 0; 
    display: block; 
}

#startButton {
    display: block;
    width: 300px; 
    padding: 30px; 
    margin: 40px 0; 
    background-color: rgb(255, 0, 0); 
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#startButton:hover {
    background-color: rgb(139, 0, 0); 
}

.navigation-buttons {
    position: fixed; /* Fix position relative to viewport */
    left: 0; /* Align container to the left */
    bottom: 0; /* Align container to the bottom */
    width: 98%; /* Span across the entire width of the viewport */
    display: flex; /* Use flexbox for positioning children */
    justify-content: space-between; /* Space out children */
    padding: 10px 20px; /* Add some padding inside the container */
}

/* Style individual buttons */
.navigation-buttons button {
    background-color: rgb(255, 0, 0); /* Red */
    color: rgb(255, 255, 255); /* White text */
    padding: 10px 20px; /* Adjust padding to your liking */
    border: none;
    border-radius: 10px; /* Adjusted for slimmer appearance */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.navigation-buttons button:hover {
    background-color: rgb(139, 0, 0); /* Dark red on hover */
}

hr {
    border: 0;
    height: 1px;
    background-color: black; /* Creates a long black line */
    margin: 20px 0; /* Adjust spacing around the <hr> */
}


@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .team-intro, .website-description {
        width: 90%;
        margin: 20px 0;
    }

    .vampire-image {
        max-width: 50%;
    }
}
